.card {
    width: 410px;
    padding: 30px;
    border: 1px solid #4318ff;
    border-radius: 20px 0px 0px 20px;
}

.card2 {
    width: 450px;
    padding: 30px;
    text-align: center;
    color: #fff;
    background-color: #4318ff;
    border-radius: 0px 20px 20px 0px;
}

.card3 {
    width: 450px;
    padding: 57px 30px;
    text-align: center;
    color: #fff;
    background-color: #4318ff;
    border-radius: 0px 20px 20px 0px;
}

.text2 {
    margin: auto;
    padding: 40% 0;
}

.title {
    color: #2b3674;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 155.556% */
    letter-spacing: -0.72px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.summary {
    color: var(--secondary-grey-600, #a3aed0);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
    letter-spacing: -0.32px;
    margin-bottom: 36px;
}

.label {
    color: #2b3674;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 14px */
    letter-spacing: -0.28px;
    margin-bottom: 13px;
}

.star {
    color: #ff1818;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.28px;
}

.input {
    width: 94%;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid var(--secondary-grey-500, #e0e5f2);
    padding-top: 17px;
    padding-left: 20px;
    padding-bottom: 19px;
}

.boxForgot {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.forgot {
    display: flex;
    align-items: center;
}

.forgot2 {
    margin: 40px 0;
}

.forgot2 a {
    text-decoration: none;
    color: #2b3674;
}

.forgot2 a:focus {
    color: red;
}

.forgot3 {
    margin: 10px 0;
    margin-bottom: 20px;
}

.forgot3 a {
    text-decoration: none;
    color: #2b3674;
}

.forgot3 a:focus {
    color: red;
}

.fieldInput {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
}

.input::placeholder {
    color: var(--secondary-grey-600, #a3aed0);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    letter-spacing: -0.28px;
}

.buttonPrimary {
    display: flex;
    width: 100%;
    height: 54px;
    padding: 10px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--primary-purple-blue-500-primary-color, #4318ff);
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.28px;
}
