.textWhite {
    color: #2b3674;
    font-size: 36;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    flex-direction: column;
}

.p1 {
    font-size: 16px;
    color: #a3aed0;
}

.h4_value {
    color: #2f313a;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.h4_value span {
    color: orangered;
}

.inputvalue {
    border: 1px solid #4318ff;
    background-color: transparent;
    width: 100%;
    height: 50px;
    border-radius: 15px;
    padding: 0 15px;
    color: #2f313a;
}

.h4_check {
    color: #2f313a;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inputsubmit {
    color: #fff;
    border: 1px solid #fff;
    background-color: #4318ff;
    width: 100%;
    height: 50px;
    border-radius: 15px;
    padding: 0 15px;
    font-weight: bold;
    transition: all .5s ease;
}

.inputsubmit:hover {
    border: 1px solid #4318ff;
    background-color: transparent;
    color: #2f313a;
    width: 100%;
    transition: all .3s ease;
}

.inputgoogle {
    color: #fff;
    border: 1px solid #fff;
    background-color: #4318ff;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 30px;
    font-weight: bold;
    transition: all .5s ease;
}

.inputgoogle:hover {
    border: 1px solid #4318ff;
    background-color: transparent;
    color: #2f313a;
    width: 100%;
    transition: all .3s ease;
}